# Venv & packages
venv/
node_modules/
dist/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite Database
aether/*.db
aether/*.db-shm
aether/*.db-wal
aether/*.db-journal
database.db

# Screen capture temp files
aether/*.png
screenshot.png

# Large Model files
aether/models/gguf/*
*.gguf

# OS files
.DS_Store
Thumbs.db
